* {
    border: 0px;
    margin: 0px;
    text-decoration: none;
    padding: 0px;
    color: #000000;
}

#contenedortotal {
    width: 100%;
    height: auto;
    background-color: #ffffff;
}

#contenedornumerosgrupos {
    width: 100%;
    height: 63px;
    background-color: #ffffff;
    display: block;
}

#contenedornumerosgrupos div.grupoperiodo {
    height: 100%;
    width: 60px;
    text-align: center;
    display: inline-block;
    background-color: #ffffff;
    margin: 0px;
    vertical-align: top;
    font-size: 18px;
}

#contenedornumerosgrupos div.grupoperiodo p.texto {
    margin-top: 7px;
}

#contenedornumerosgrupos div.numeros {
    height: 100%;
    width: 95%;
    background-color: #ffffff;
    display: inline-block;
}

#contenedornumerosgrupos div.numeros div.numerogrupo {
    display: inline-block;
    margin-left: 7px;
    height: 100%;
    width: 60px;
    background-color: #ffffff;
    text-align: center;
}

#contenedornumerosgrupos div.numeros div.numerogrupo p.numeral {
    margin-top: 25px;
}

#contenedornumerosperiodos {
    width: 60px;
    min-height: 150px;
    height: auto;
    background-color: #ffffff;
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 3px;
    vertical-align: top;
    padding-top: 3px;
}

#contenedornumerosperiodos div.numeroperiodo {
    display: block;
    height: 43px;
    width: 100%;
    background-color: #f7f7f7;
    text-align: center;
    margin-top: 6px;
    padding-top: 19px;
}

#contenedorelementos {
    width: 94.8%;
    min-height: 525px;
    height: auto;
    background-color: #ffffff;
    display: inline-block;
    margin-top: 1px;
}

div.nulo {
    width: 60px;
    height: 60px;
    display: inline-block;
    margin-left: 7px;
}

.null {
    display: none;
}

#contenedorelementos div.elementosI {
    height: auto;
    width: 137px;
    display: inline-block;
    background-color: #ffffff;
}

#contenedorelementos div.elementosI div.elementito {
    height: 63px;
    width: 63px;
    text-align: center;
    background-color: #00eeff;
    display: inline-block;
    margin-left: 3px;
    margin-bottom: 3px;
    margin-top: 2px;
}

#contenedorelementos div.elementosIII {
    height: auto;
    width: 709px;
    display: inline-block;
    background-color: #f1f1f1;
}

#contenedorelementos div.elementosIII div.elementote {
    height: 62px;
    width: 62px;
    text-align: center;
    background-color: #ff01f2;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 3px;
    margin-top: 2px;
}

#contenedorelementos div.elementosII {
    height: auto;
    width: 424px;
    display: inline-block;
    background-color: #ffffff;
}

#contenedorelementos div.elementosII div.elemento {
    height: 62px;
    width: 62px;
    text-align: center;
    background-color: #ddec04;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 3px;
    margin-top: 2px;
}

#contenedorelementosextras {
    background-color: #ffffff;
    height: auto;
    min-height: 100px;
    width: 1210px;
    text-align: center;
}

#contenedorelementosextras div#nombres {
    width: 200px;
    height: 131px;
    background-color: #ffffff;
    display: inline-block;
    margin-left: 0px;
    margin-top: 1px;
    vertical-align: top;
}

#contenedorelementosextras div#nombres div p.Lanta {
    height: 62px;
    width: 100%;
    display: block;
    background-color: #ffffff;
    text-align: center;
}

#contenedorelementosextras div#nombres div p.Acti {
    height: 62px;
    width: 100%;
    display: block;
    background-color: #ffffff;
    margin-top: 5px;
    text-align: center;
}

#contenedorelementosextras div.elementosIV {
    height: auto;
    width: 1000px;
    display: inline-block;
    background-color: #ffffff;
}

#contenedorelementosextras div.elementosIV div.elementoextra {
    height: 62px;
    width: 62px;
    text-align: center;
    background-color: rgb(9, 255, 0);
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 3px;
    margin-top: 2px;
}