/*Formateo Minimalista*/

* {
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}


/*
* {
    outline: 1px dotted blue;
}

*/


/*Reescritura de CSS*/

.container {
    margin: auto;
    padding: 20px;
    width: 1033px;
}

div {
    text-align: center;
    padding: 5px;
}

p {
    font-size: 10px;
}

.columna1 {
    float: left;
}

#fila1,
#fila2,
#fila3,
#fila4,
#fila5,
#fila6,
#fila7,
#fila8,
#fila9,
#fila10 {
    display: inline-table;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}

#fila9 {
    margin-top: 20px;
}

#fila1 div.fila1,
.columna1 {
    outline: none;
    color: rgb(1, 139, 47);
    padding-top: 15px;
    font-weight: bold;
}

.caja {
    float: left;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    margin: 0px 2px;
}

.columna1 {
    outline: none;
    color: rgb(1, 139, 47);
    padding-top: 15px;
    font-weight: bold;
}

.columna2 {
    outline: none;
    color: rgb(1, 139, 47);
    font-weight: bold;
}

.c {
    margin-left: 8px;
}

.b {
    width: 158px;
    outline: none;
}

.marcar {
    font-weight: bold;
    color: blue;
    font-family: sans-serif;
    font-size: 16px;
}

#helio,
#Ne,
#B,
#C,
#N,
#O,
#F,
#Al,
#Si,
#P,
#S,
#Cl,
#Ar,
.der {
    float: right;
}

.celeste {
    background-image: linear-gradient(to bottom, #d4e4ef, #86aecc);
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
    border: 1px outset #969697;
}

.rosa {
    background-image: linear-gradient(to bottom, #f0ceef, #ee7bec);
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
    border: 1px outset #969697;
}

.naranja {
    background-image: linear-gradient(to bottom, #f1e767, #feb645);
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
    border: 1px outset #969697;
}

.verde {
    background-image: linear-gradient(to bottom, #d2ff52, #91e842);
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
    border: 1px outset #969697;
}